.pack {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 0;
}

.editor {
  flex: 3;
  min-width: 240px;
}

.editor [role="tabpanel"] > div {
  min-height: 100%;
}

.output {
  flex: 2;
  min-width: 200px;
}
