.window {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: 6px;
  overflow: hidden;
}

.window-header {
  flex: none;
  font-size: 12px;
  line-height: 20px;
  padding: 6px 16px;
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
  background-color: var(--ifm-color-secondary-lightest);
}

.window-content {
  flex: auto;
}
